@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Azure Boot Camp - Deploying using ARM and DSC</h1>
</div>

This application is running on<br /><br />@Environment.MachineName